{% macro render(el) %}
{% set lang = '' %}
{% set activeLocale = apos.workflow.lang() %}
{% set locales = apos.settings.getOption('locales') %}
{% for l in locales %}
  {% if l.name === activeLocale %}
    {% set lang = l.label %}
  {% endif %}
{% endfor %}
<div class="language-button pointer flex align-center justify-between">
  <div class="language">{{ lang }}</div>
  <div class="arrow-wrapper down">
    <i class="arrow down" id="arrow-icon"></i>
  </div>
</div>
<ul class="language-list hidden" data-role="lang-list">
  {% for locale in locales %}
    {% if locale.name !== activeLocale %}
      <li>
        <a href="{{ apos.helpers.getURL(el._url, locale.name) }}" >{{ locale.label }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}