{% macro render() %}
<div class="periods-container">
  <a class="period-link" href="/antiquity">
    <div class="period-card pointer flex align-center text-black" id="period-1">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('Antiquity') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
  <a class="period-link" href="/medieval">
    <div class="period-card pointer flex align-center text-black" id="period-2">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('Medieval') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
  <a class="period-link" href="/otoman">
    <div class="period-card img-3 pointer flex align-center text-black" id="period-3">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('Otoman') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
  <a class="period-link" href="/austro-habsburg">
    <div class="period-card pointer flex align-center text-black" id="period-4">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('Austro-Habsburg') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
  <a class="period-link" href="/world-wars">
    <div class="period-card pointer flex align-center text-black" id="period-5">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('World Wars') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
  <a class="period-link" href="/modern">
    <div class="period-card pointer flex align-center text-black" id="period-6">
      <div class="text-background"></div>
      <div class="period-text">
        {{ __('Modern') }}
      </div>
      <div class="white-stripe"></div>
    </div>
  </a>
</div>
{% endmacro %}